.home-wrapper {
  padding: 2em 3em 1em 3em;
  /* border: 1px solid red; */
}

.section-header-home {
  color: #f5c518;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.235px;
  margin: 0;
}

.sub-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  border-left: 5px solid white;
  border-radius: 3px;
  padding-left: 0.5em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right-arrow-icon {
  align-self: flex-end;
}

.brief-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #85a8b3;
}

/* centering code */

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
