.footer {
  text-align: center;
  min-height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #2f2f2f;
  background-color: #121212;
}

.company {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  padding: 0;
}

.copyright-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #6e97b3;
}
