.wrapper-internal {
  max-width: 800px;
}

.section-header-ratings {
  font-weight: 500;
  font-size: 32px;
  border-left: 5px solid gold;
  padding: 0.1em 0.25em;
  border-radius: 5px;
}

.border-light {
  border-top: 1px solid #e0e0e0;
}

.section-light {
  background-color: white;
  padding: 2em 0 2em 3em;
}
